/*This is to remove the overlapping between the navbar and body*/
body {
    padding-top: 100px;
    background-color: #d4edda;
}

.page-title {
    font-size: 30px !important;
    padding-top: 30px;
}


a.external[target="_blank"]::after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
    margin: 0px 3px 0px 5px;

}

.navbar {
    height: 80px;
}

.park-card {
    padding-top: 15px;
    padding-bottom: 15px;
}

.border-class {

    border-radius: 7px;
    border: 1px solid #000000;
}

.card-body-class {
    padding: 10px;
}

.table-cell{
    float:left;
}

.loader{
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    background-color: rgba(255,255,255,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader.hidden{
    animation: fadeout 1s;
    animation-fill-mode: forwards;
}
@keyframes fadeout {
    100% {
        opacity: 0;
        visibility: hidden;
    }

    
}