
<!DOCTYPE html>
{%extends "bootstrap/base.html" %}
{% block title %}
{{super()}}
Park Suggestion System
{% endblock %}
{% block head%}
{{super()}}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a style="font-size: 30px !important; align-content: center" class="navbar-brand page-title" href="#">Park Suggestion System</a>
    </div>
  </div>
</nav>
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('static', filename='style.css')}}">
{% endblock %}

{% block content %}

{% endblock %}
